apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- hello-rpilab
- blink1-server
- rpilab-notifications
- rpilab-router
- html-assistant
- chess-ai
- resumebot
images:
- digest: sha256:b829c765bc7392054f2159317066d55bdd27232f4d220079ff34da745e0c66ed
  name: ghcr.io/alexandreroman/blink1-server
- digest: sha256:03ef9b6f5311f029fbb65e08a416802fe96ae4805322e63c0fe7f194bada5d93
  name: ghcr.io/alexandreroman/chess-ai
- digest: sha256:cf9c1e9eb926c4db5fd13b98d7a09f90faca91e95fffab3c01db3e7064ac8e69
  name: ghcr.io/alexandreroman/hello-rpilab
- digest: sha256:5e88f0a4b9f018fa6603669df5ff3c96f6165d201ecf5577ef3efa72630fb71f
  name: ghcr.io/alexandreroman/html-assistant
- digest: sha256:b6ab784797e9510bc74b894b9609de572029fb63857d4f1e16796adf8e710b22
  name: ghcr.io/alexandreroman/resumebot
- digest: sha256:f9b34b2a8ef468065248cbe216f32e611680b8f610c4b45837682eb3571d1f0a
  name: ghcr.io/alexandreroman/rpilab-notifications
- digest: sha256:8fae94f75c12c245d006ec1fa98a123db061fa830607e4b46fa28ea08f6fdfab
  name: ghcr.io/alexandreroman/rpilab-router
