apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- hello-rpilab
- blink1-server
- rpilab-notifications
- rpilab-router
- html-assistant
- chess-ai
- resumebot
- temporal-story
images:
- digest: sha256:b829c765bc7392054f2159317066d55bdd27232f4d220079ff34da745e0c66ed
  name: ghcr.io/alexandreroman/blink1-server
- digest: sha256:03ef9b6f5311f029fbb65e08a416802fe96ae4805322e63c0fe7f194bada5d93
  name: ghcr.io/alexandreroman/chess-ai
- digest: sha256:cf9c1e9eb926c4db5fd13b98d7a09f90faca91e95fffab3c01db3e7064ac8e69
  name: ghcr.io/alexandreroman/hello-rpilab
- digest: sha256:5e88f0a4b9f018fa6603669df5ff3c96f6165d201ecf5577ef3efa72630fb71f
  name: ghcr.io/alexandreroman/html-assistant
- digest: sha256:75606abd887d14218e19c4efe045d70b4a9c49cbd64a0ffc8383c8f0747c82f5
  name: ghcr.io/alexandreroman/resumebot
- digest: sha256:33b97c1e370db735571cbed65a834b69ca48aeec86258c6063dc6098d8f36b85
  name: ghcr.io/alexandreroman/resumebot-audit
- digest: sha256:f9b34b2a8ef468065248cbe216f32e611680b8f610c4b45837682eb3571d1f0a
  name: ghcr.io/alexandreroman/rpilab-notifications
- digest: sha256:5376d87a0ef82a27dc09a3a850069ce1951412a6372acedbe6bb59cd61464764
  name: ghcr.io/alexandreroman/rpilab-router
- digest: sha256:e12a83f0fbe9ac8c87ed7a5d30665e68998ef8346c2d4e4c8384f0213b2cfe20
  name: ghcr.io/alexandreroman/temporal-story
