apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- hello-rpilab
- blink1-server
- rpilab-notifications
- rpilab-router
- html-assistant
- chess-ai
images:
- digest: sha256:b829c765bc7392054f2159317066d55bdd27232f4d220079ff34da745e0c66ed
  name: ghcr.io/alexandreroman/blink1-server
- digest: sha256:03ef9b6f5311f029fbb65e08a416802fe96ae4805322e63c0fe7f194bada5d93
  name: ghcr.io/alexandreroman/chess-ai
- digest: sha256:5bcf1ad06c1e9d8ebd61e38ab4764bc0e047d22b03b545f2d968378c04e8e069
  name: ghcr.io/alexandreroman/hello-rpilab
- digest: sha256:5e88f0a4b9f018fa6603669df5ff3c96f6165d201ecf5577ef3efa72630fb71f
  name: ghcr.io/alexandreroman/html-assistant
- digest: sha256:f9b34b2a8ef468065248cbe216f32e611680b8f610c4b45837682eb3571d1f0a
  name: ghcr.io/alexandreroman/rpilab-notifications
- digest: sha256:a1ee2804a9e787206993b9fccdd5861e195ea730895230b95d7f4c058f74a30f
  name: ghcr.io/alexandreroman/rpilab-router
