apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- https://github.com/knative/serving/releases/download/knative-v1.20.1/serving-core.yaml
- https://github.com/knative/serving/releases/download/knative-v1.20.1/serving-hpa.yaml
- https://github.com/knative-extensions/net-contour/releases/download/knative-v1.20.1/release.yaml
- ingressclass.yaml
patches:
- path: config-domain.yaml
- path: config-network.yaml
replicas:
- name: contour
  count: 1
